* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: red;
}

.valueFrame {
    border-radius: 10px;
    width: 50vw;
    padding: 1vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#eingabe {
    width: 7.5vw;
}

.output1,
.output2 {
    display: flex;
}