* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

span {
    color: red;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.radioFrame {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 30vw;
    padding: 1vh;
    background-color: lightgray;
}

.valueFrame {
    border-radius: 5px;
    height: 90px;
    width: 30vw;
    padding: 1vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.theFrame {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outputFrame {
    height: 70px;
    border-radius: 5px;
    width: 30vw;
    padding: 1vh;
    background-color: lightgray;
}



#eingabe {
    width: 7.5vw;
}

.output {
    display: flex;
}